---
eleventyNavigation:
  key: Home
  order: 0
heading: Nicolas Narvaez
description: Nico's Art
layout: main.njk
title: Nicolas Narvaez
meta_desc: A collection of Nicolas Narvaez' artwork
url: https://eleventy-gallery.netlify.app
img: /images/highway-water.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
cardType: summary_large_image
---

<div class="page-banner">
  <h1>{{ heading }}</h1>
  <p>{{ description }}</p>
</div>

{% include "partials/home-gallery.njk" %}